extends layout

block content
    div.panels
        div.panel.panel1
            p
                a(href="/auth/facebook" class="btn btn-primary") Continue with 
                    i.fa.fa-facebook-square(aria-hidden="true")
            p 
                i.fa.fa-facebook-square.fa-2x(aria-hidden="true")
            p facebook.com 
                i.fa.fa-facebook-square(aria-hidden="true")
        div.panel.panel2
            div.signin
                form(method="POST", action="/signin")
                    p.error-msg-signin= message
                    input(type="email", name="email", placeholder="Email")
                    br
                    input(type="password", name="password", placeholder="Password")
                    br
                    input.btn.btn-success(type="submit", value="SignIn")
                    br
                    p.forgot-passord(data-toggle="modal", data-target="#forgot-modal") Forgot password?
                
                div.modal.fade(id="forgot-modal", tabindex="-1", role="dialog", aria-labelledby="ModalLabel",aria-hidden="true")
                    .modal-dialog(role="document")
                        .modal-content
                            .modal-header
                                h5.modal-title (id="ModalLabel") Forgot password
                                button.close(type="button", data-dismiss="modal", aria-label="Close")
                                    span(aria-hidden="true") &times;
                            .modal-body
                                input(type="email", name="forgot-email", placeholder="email", id="forgot-email")
                            .modal-footer
                                button.btn.btn-danger(type="button", data-dismiss="modal") Close
                                button.btn.btn-success(type="button", onclick="sendEmail()") Send
            p Sign In
            p ykondrat &copy; 2017
        .panel.panel3
            .signup
                form(method="POST", action="/signup", onsubmit="return (validForm())")
                    p.error-msg-signup= message
                    input#nameSignup(type="text", name="firstName", placeholder="First name")
                    br
                    input#surnameSignup(type="text", name="lastName", placeholder="Last name")
                    br
                    input#emailSignup(type="email", name="email", placeholder="Email")
                    br
                    input#passwordSignup(type="password", name="password", placeholder="Password")
                    br
                    input.btn.btn-success(type="submit", value="SignUp")
            p Sign Up
            p ykondrat &copy; 2017
        div.panel.panel4
            p
                a(href="/auth/google" class="btn btn-danger") Continue with 
                    i.fa.fa-google-plus-square(aria-hidden="true")
            p 
                i.fa.fa-google-plus-square.fa-2x(aria-hidden="true")
            p plus.google.com 
                i.fa.fa-google-plus-square(aria-hidden="true")