extends layout

block content
    div.panels
        div.panel.panel1
            p
                a(href="/auth/facebook" class="btn btn-primary" onclick="sendLocationFB()") Continue with <i class="fa fa-facebook-square" aria-hidden="true"></i>
            p 
                i.fa.fa-facebook-square.fa-2x(aria-hidden="true")
            p facebook.com <i class="fa fa-facebook-square" aria-hidden="true"></i>
        div.panel.panel2
            div.signin
                form(method="POST", action="/signin")
                    p.error-msg-signin= message
                    input(type="email", name="email", placeholder="Email")
                    br
                    input(type="password", name="password", placeholder="Password")
                    br
                    input.btn.btn-success(type="submit", value="SignIn")
            p Sign In
            p ykondrat &copy; 2017
        div.panel.panel3
            div.signup
                form(method="POST", action="/signup", onsubmit="return (validForm())")
                    p.error-msg-signup= message
                    input#nameSignup(type="text", name="firstName", placeholder="First name")
                    br
                    input#surnameSignup(type="text", name="lastName", placeholder="Last name")
                    br
                    input#emailSignup(type="email", name="email", placeholder="Email")
                    br
                    input#passwordSignup(type="password", name="password", placeholder="Password")
                    br
                    input.btn.btn-success(type="submit", value="SignUp")
            p Sign Up
            p ykondrat &copy; 2017
        div.panel.panel4
            p
                a(href="/auth/google" class="btn btn-danger") Continue with <i class="fa fa-google-plus-square" aria-hidden="true"></i>
            p 
                i.fa.fa-google-plus-square.fa-2x(aria-hidden="true")
            p plus.google.com <i class="fa fa-google-plus-square" aria-hidden="true"></i>