doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='author', content='Yevhen Kondratyev')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='http://localhost:8000/images/favicon.png', rel='icon', type='image/svg')
    link(rel="stylesheet", type="text/css", href="/stylesheets/loading-bar.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js")
  body
    div#particles
    div#content
        #dialog_wrapper(data-text=JSON.stringify(user))
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(type="text/javascript", src="http://localhost:8000/javascript/loading-bar.js")
    script(src='http://localhost:8000/javascript/search-app.js')
    script(src='http://localhost:8000/javascript/profile.jsx', type='text/babel')
    script(src='http://localhost:8000/javascript/animation.js')