.profile-search
    margin-top: 100px
    display: none

#loading
    display: none
    text-align: center

#search-header
	padding-bottom: 7px
	padding-top: 7px
	font-weight: bold
	color: #D2D2D2
	text-shadow: 2px 2px #468939

input[type="checkbox"]
	width: 13px
	margin-right: 5px
	@media screen and (max-width: 460px)
		width: 13px
	@media screen and (max-width: 360px)
		width: 13px
.user-search-profile
	margin: 20px auto 25px auto
	
	h3
		color: #909090
		text-shadow: 1px 2px #000
	
	hr
		width: 80%
		height: 5px
		background: #7DE983
		background: -webkit-linear-gradient(left, #7DE983 , #F2F04B)
		background: -o-linear-gradient(right, #7DE983, #F2F04B)
		background: -moz-linear-gradient(right, #7DE983, #F2F04B)
		background: linear-gradient(to right, #7DE983 , #F2F04B)

.fa-thumbs-o-up
	margin-right: 10px
	color: #7DE983

	&:hover
		cursor: pointer

.fa-thumbs-o-down
	margin-left: 10px
	color: #E86A51

	&:hover
		cursor: pointer

.btn-view
	font-weight: bold

	&:hover
		cursor: pointer		

.user-search-photo
	width: 25vmin
	height: 25vmin
	border-radius: 50%