#particles {
  background: url(http://localhost:8000/images/matcha.jpg) 100% 100% no-repeat;
  background-size: cover;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -2; }

.fix-header {
  margin-top: -100px;
  width: 100%;
  position: fixed;
  z-index: 10; }

@media screen and (max-width: 575px) {
  .navbar-toggler {
    margin-right: -50px; } }

.navbar-toggler:hover {
  cursor: pointer; }

.user-info {
  display: inline;
  margin: 0 20px 0 20px;
  font-weight: bold; }
  @media screen and (max-width: 575px) {
    .user-info {
      margin-left: -20px; } }
  .user-info .user-name {
    padding-left: 7px; }
  .user-info .profile img {
    border: 2px solid #468939; }
  .user-info .profile:hover {
    cursor: pointer; }
  .user-info:hover {
    cursor: pointer; }

@media screen and (max-width: 575px) {
  .user-name {
    display: none; } }

.nav-btn {
  background-color: transparent; }

.nav-btn:hover {
  cursor: pointer; }

.fa-bell-o {
  margin-left: 15px; }

.badge-important {
  margin-top: -5px;
  margin-left: 25px;
  position: absolute;
  background-color: rgba(157, 223, 116, 0.5);
  border-radius: 50%; }

.errorActive {
  font-size: 2vmin;
  font-weight: bold;
  color: #F64741; }

.userfullname {
  font-size: 3vmin;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px #000; }

.user-email {
  font-size: 2vmin;
  font-weight: bold; }

.user-rating {
  font-size: 2vmin;
  font-weight: bold;
  color: #468939; }

.profile-main {
  margin-top: 100px;
  display: block; }

.profile-view {
  text-align: center;
  width: 70%;
  margin: 20px auto 20px auto;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5); }

.profile-view {
  padding-bottom: 20px; }

.profile-img {
  width: 35vmin;
  height: 35vmin;
  margin: 30px auto 30px auto;
  border-radius: 50%; }

.ldBar {
  margin-left: auto;
  margin-right: auto; }

.ldBar-label {
  display: none; }

.profile-settings {
  margin-top: 100px;
  display: none; }

#settings-header {
  padding-bottom: 7px;
  padding-top: 7px;
  font-weight: bold;
  color: #D2D2D2;
  text-shadow: 2px 2px #468939; }

.form-settings {
  margin-left: auto;
  margin-right: auto;
  text-align: left; }

.form-control {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  width: 70%;
  margin-bottom: 7px; }

.form-control select, input, textarea {
  width: 183px;
  border: 2px solid #468939;
  border-radius: 7px;
  padding: 7px; }
  @media screen and (max-width: 460px) {
    .form-control select, input, textarea {
      width: 143px; } }
  @media screen and (max-width: 360px) {
    .form-control select, input, textarea {
      width: 123px; } }

.form-control label {
  float: left;
  padding-bottom: 15px;
  font-weight: bold; }

.form-btn {
  text-align: center;
  margin-top: 7px; }
  .form-btn button {
    font-weight: bold; }
    .form-btn button:hover {
      cursor: pointer; }

.error-settings {
  color: #FF3C3C;
  font-weight: bold; }

.profile-modify {
  margin-top: 100px;
  display: none; }

#modify-header {
  padding-bottom: 7px;
  padding-top: 7px;
  font-weight: bold;
  color: #D2D2D2;
  text-shadow: 2px 2px #468939; }

.photo-header {
  padding-bottom: 7px;
  padding-top: 7px;
  font-weight: bold;
  color: #D2D2D2;
  text-shadow: 2px 2px #468939; }

.profile-settings-photo {
  display: none;
  margin-top: 100px; }

.upload-photo {
  width: 25vmin;
  height: 25vmin; }
  .upload-photo:hover {
    cursor: pointer; }

input[type="file"] {
  opacity: 0;
  position: absolute;
  left: 38%;
  width: 25vmin;
  height: 25vmin; }
  input[type="file"]:hover {
    cursor: pointer; }

.photo-user {
  margin: 7px auto 7px auto; }

.photo-btn p {
  font-size: 3vmin;
  margin: 7px; }

.form-photo-btn {
  margin-top: 7px;
  padding-bottom: 7px; }
  .form-photo-btn button {
    font-weight: bold; }
    .form-photo-btn button:hover {
      cursor: pointer; }

.profile-search {
  margin-top: 100px;
  display: none; }

#loading {
  display: none;
  text-align: center; }

#search-header {
  padding-bottom: 7px;
  padding-top: 7px;
  font-weight: bold;
  color: #D2D2D2;
  text-shadow: 2px 2px #468939; }

input[type="checkbox"] {
  width: 13px;
  margin-right: 5px; }
  @media screen and (max-width: 460px) {
    input[type="checkbox"] {
      width: 13px; } }
  @media screen and (max-width: 360px) {
    input[type="checkbox"] {
      width: 13px; } }

.user-search-profile {
  margin: 20px auto 25px auto; }
  .user-search-profile h3 {
    color: #909090;
    text-shadow: 1px 2px #000; }
  .user-search-profile hr {
    width: 80%;
    height: 5px;
    background: #7DE983;
    background: -webkit-linear-gradient(left, #7DE983, #F2F04B);
    background: -o-linear-gradient(right, #7DE983, #F2F04B);
    background: -moz-linear-gradient(right, #7DE983, #F2F04B);
    background: linear-gradient(to right, #7DE983, #F2F04B); }

.fa-thumbs-o-up {
  margin-right: 10px;
  color: #7DE983; }
  .fa-thumbs-o-up:hover {
    cursor: pointer; }

.fa-thumbs-o-down {
  margin-left: 10px;
  color: #E86A51; }
  .fa-thumbs-o-down:hover {
    cursor: pointer; }

.fa-user-times {
  margin-left: 10px; }
  .fa-user-times:hover {
    cursor: pointer; }

.fa-ban {
  margin-left: 10px; }
  .fa-ban:hover {
    cursor: pointer; }

.btn-view {
  font-weight: bold; }
  .btn-view:hover {
    cursor: pointer; }

.user-search-photo {
  width: 25vmin;
  height: 25vmin;
  border-radius: 50%; }

.user-search-photos {
  margin-bottom: 10px;
  width: 25vmin; }

.modal_window {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center; }

.modal_form {
  border-radius: 10px 10px 10px 10px;
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
  min-width: 300px; }

#map {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 300px; }

/*# sourceMappingURL=style.css.map */